<h1>ようこそBookersへ!</h1>
<p><span>Bookers</span>では、さまざま書籍に関するあたなの意見や</p>
<p>印刷を共有し交換することができます</p>
<%= link_to "start", "https://788efb1e1d31426da834582a340241a7.vfs.cloud9.us-east-1.amazonaws.com/books/new?_c9_id=livepreview0&_c9_host=https://console.aws.amazon.com" %>